body {
    background-color: rgb(0, 0, 0);
    color: rgb(231, 233, 234);
    display: flex;
    margin: 0;
    justify-content: center;
}

p{
    margin: 0%;
}
.main {
    width: 600px;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: rgb(47, 51, 54);
}

.home {
    padding: 0 16px;
}

.tweet-form-container {
    display: flex;
    padding: 0 16px;
}

.icon {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    margin-right: 10px;
}

.tweet-form {
    width: 542px;
}

.active {
    background-color: rgb(29, 155, 240);
    color: white;
}

.non-active {
    background-color: rgb(13,72,119);
    color:rgb(127,127,127);
}

.tweet-form textarea {
    height: 70px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    border: 0px;
    color: white;
    font-size: 20px;
    padding: 10px;
    resize: vertical;
}

.tweet-form button {
    border-radius: 100px;
    height: 34px;
    width: 135px;
    font-size: 15px;
    border: 0px;
    cursor: pointer;
}

.hr {
    border-color :rgb(47, 51, 54);
    border-width: 1px;
    width: 100%;
    margin: 0;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
    align-items: center;
}

.button-wrapper p {
    margin-right: 10px;
}

.tweet {
    display: flex;
    padding: 12px 16px;
}

.tweet-author {
    font-size: 15px;
}

.tweet-author-name {
    font-weight: bold;
    margin-right: 10px;
}

.tweet-author-id {
    color: rgb(113, 118, 123);
    margin-right: 10px;
}

.tweeted-at {
    color: rgb(113, 118, 123);
}

@media screen and (max-width:605px){
    .main{
        width: 100%;
    }
}